Repository grafana/faro-web-sdk, pull requests merged in 2024-09, with the labels that each got.

#670 upgrade otel deps
  CHANGELOG.md
  cypress/e2e/demo/errors.cy.ts
  cypress/e2e/demo/tracing.cy.ts
  demo/package.json
  experimental/CHANGELOG.md
  experimental/transport-otlp-http/package.json
  experimental/transport-otlp-http/src/payload/transform/toErrorLogRecord.test.ts
  experimental/transport-otlp-http/src/payload/transform/toEventLogRecord.test.ts
  experimental/transport-otlp-http/src/payload/transform/toLogLogRecord.test.ts
  experimental/transport-otlp-http/src/payload/transform/toMeasurementLogRecord.test.ts
  experimental/transport-otlp-http/src/payload/transform/toResourceLog.test.ts
  experimental/transport-otlp-http/src/payload/transform/toResourceSpan.test.ts
  experimental/transport-otlp-http/src/payload/transform/transform.ts
  packages/core/package.json
  packages/web-tracing/package.json
  packages/web-tracing/src/instrumentation.ts
  packages/web-tracing/src/sessionSpanProcessor.ts
  yarn.lock
Labels: change, dependencies, enhancement

#674 chore: don't send view name by default
  CHANGELOG.md
  packages/core/src/consts.ts
  packages/core/src/index.ts
  packages/react/src/errorBoundary/withFaroErrorBoundary.tsx
  packages/react/src/index.ts
  packages/react/src/profiler/withFaroProfiler.tsx
  packages/react/src/utils/index.ts
  packages/web-sdk/src/config/makeCoreConfig.ts
  packages/web-sdk/src/index.ts
  packages/web-sdk/src/instrumentations/errors/const.ts
  packages/web-sdk/src/instrumentations/errors/registerOnerror.ts
  packages/web-sdk/src/instrumentations/errors/stackFrames/buildStackFrame.ts
  packages/web-sdk/src/instrumentations/errors/stackFrames/const.ts
  packages/web-sdk/src/instrumentations/performance/navigation.test.ts
  packages/web-sdk/src/instrumentations/performance/navigation.ts
  packages/web-sdk/src/instrumentations/performance/performanceUtils.ts
  packages/web-sdk/src/instrumentations/performance/types.ts
  packages/web-sdk/src/instrumentations/view/instrumentation.test.ts
  packages/web-sdk/src/instrumentations/view/instrumentation.ts
  packages/web-sdk/src/instrumentations/webVitals/webVitalsWithAttribution.ts
  packages/web-sdk/src/metas/browser/meta.ts
  packages/web-sdk/src/metas/index.ts
  packages/web-sdk/src/metas/view/const.ts
  packages/web-sdk/src/metas/view/index.ts
  packages/web-tracing/src/faroTraceExporter.utils.ts
Labels: change

#676 release 1.10.0
  CHANGELOG.md
Labels: release

#684 chore(docs): link cloud docs in README
  README.md
Labels: type/docs

#688 chore(pushError): automatically add error.cause to the extended error context
  packages/core/src/api/exceptions/index.ts
  packages/core/src/api/exceptions/initialize.test.ts
  packages/core/src/api/exceptions/initialize.ts
  packages/core/src/api/exceptions/types.ts
Labels: enhancement

#687 chore(otlp-http-transport): update semantic attributes
  .markdownlint.json
  CHANGELOG.md
  experimental/CHANGELOG.md
  experimental/transport-otlp-http/src/payload/transform/toResourceLog.test.ts
  experimental/transport-otlp-http/src/payload/transform/toResourceSpan.test.ts
  experimental/transport-otlp-http/src/payload/transform/transform.ts
Labels: bug, change
